---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=asc&page=1&per_page=10&q=git_search&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=git_search&sort=stars&order=asc&per_page=10&page=2>;
        rel="next", <https://api.github.com/search/repositories?q=git_search&sort=stars&order=asc&per_page=10&page=100>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1710855700'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":20396,"incomplete_results":false,"items":[{"id":670956063,"node_id":"R_kgDOJ_36Hw","name":"GitHubProfile-Searcher","full_name":"soumik03/GitHubProfile-Searcher","private":false,"owner":{"login":"soumik03","id":72907754,"node_id":"MDQ6VXNlcjcyOTA3NzU0","avatar_url":"https://avatars.githubusercontent.com/u/72907754?v=4","gravatar_id":"","url":"https://api.github.com/users/soumik03","html_url":"https://github.com/soumik03","followers_url":"https://api.github.com/users/soumik03/followers","following_url":"https://api.github.com/users/soumik03/following{/other_user}","gists_url":"https://api.github.com/users/soumik03/gists{/gist_id}","starred_url":"https://api.github.com/users/soumik03/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/soumik03/subscriptions","organizations_url":"https://api.github.com/users/soumik03/orgs","repos_url":"https://api.github.com/users/soumik03/repos","events_url":"https://api.github.com/users/soumik03/events{/privacy}","received_events_url":"https://api.github.com/users/soumik03/received_events","type":"User","site_admin":false},"html_url":"https://github.com/soumik03/GitHubProfile-Searcher","description":"Get
        details of github users","fork":false,"url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher","forks_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/forks","keys_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/keys{/key_id}","collaborators_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/teams","hooks_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/hooks","issue_events_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/issues/events{/number}","events_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/events","assignees_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/assignees{/user}","branches_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/branches{/branch}","tags_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/tags","blobs_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/git/refs{/sha}","trees_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/git/trees{/sha}","statuses_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/statuses/{sha}","languages_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/languages","stargazers_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/stargazers","contributors_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/contributors","subscribers_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/subscribers","subscription_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/subscription","commits_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/commits{/sha}","git_commits_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/git/commits{/sha}","comments_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/comments{/number}","issue_comment_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/issues/comments{/number}","contents_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/contents/{+path}","compare_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/compare/{base}...{head}","merges_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/merges","archive_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/downloads","issues_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/issues{/number}","pulls_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/pulls{/number}","milestones_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/milestones{/number}","notifications_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/labels{/name}","releases_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/releases{/id}","deployments_url":"https://api.github.com/repos/soumik03/GitHubProfile-Searcher/deployments","created_at":"2023-07-26T08:05:18Z","updated_at":"2023-07-26T08:52:08Z","pushed_at":"2023-07-26T08:52:04Z","git_url":"git://github.com/soumik03/GitHubProfile-Searcher.git","ssh_url":"git@github.com:soumik03/GitHubProfile-Searcher.git","clone_url":"https://github.com/soumik03/GitHubProfile-Searcher.git","svn_url":"https://github.com/soumik03/GitHubProfile-Searcher","homepage":null,"size":3,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":23,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":23,"open_issues":0,"watchers":0,"default_branch":"main","score":1.0},{"id":64495577,"node_id":"MDEwOlJlcG9zaXRvcnk2NDQ5NTU3Nw==","name":"swift-GithubRepoSearch-lab-ios-0616","full_name":"jmkiley/swift-GithubRepoSearch-lab-ios-0616","private":false,"owner":{"login":"jmkiley","id":12474734,"node_id":"MDQ6VXNlcjEyNDc0NzM0","avatar_url":"https://avatars.githubusercontent.com/u/12474734?v=4","gravatar_id":"","url":"https://api.github.com/users/jmkiley","html_url":"https://github.com/jmkiley","followers_url":"https://api.github.com/users/jmkiley/followers","follow[...]
